    <!-- Customization side panel -->
    <div id="customizationPanel" class="side-panel">
        <h2>Customization</h2>
        <h3>Colors</h3>
        <label for="rightNostrilColor">Right Nostril:</label>
        <input type="color" id="rightNostrilColor" value="#ff2a00">
        <input type="text" id="rightNostrilHex" placeholder="#RRGGBB" size="7"><br>

        <label for="leftNostrilColor">Left Nostril:</label>
        <input type="color" id="leftNostrilColor" value="#004dab">
        <input type="text" id="leftNostrilHex" placeholder="#RRGGBB" size="7"><br>

        <label for="breathBarFillColor">Breath Fill:</label>
        <input type="color" id="breathBarFillColor" value="#fee74d">
        <input type="text" id="breathBarFillHex" placeholder="#RRGGBB" size="7"><br>

        <label for="breathBarHoldColor">Breath Hold:</label>
        <input type="color" id="breathBarHoldColor" value="#00a550">
        <input type="text" id="breathBarHoldHex" placeholder="#RRGGBB" size="7"><br>

        <button id="saveChanges">Save Changes</button>
        <button id="resetChanges">Reset to Default</button>
    </div>
